src/main/mule/member-system-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="member-system-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${http.port}" />
    </http:listener-config>
    <apikit:config name="member-system-api-config" api="member-system-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="member-system-api-main">
        <http:listener path="/api/*" config-ref="member-system-api-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="member-system-api-config"/>
        <error-handler ref="global-Error-Handler">
            
        </error-handler>
    </flow>
    <flow name="member-system-api-console">
        <http:listener path="/console/*" config-ref="member-system-api-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="member-system-api-config"/>
		<error-handler ref="global-Error-Handler" />
    </flow>
    <flow name="patch:\members\(memberId):application\json:member-system-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="memberId">attributes.uriParams.'memberId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  msg: "successful operation",
  code: 200,
  data: {
    memberId: "Mdsah8734873"
  },
  success: true
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="aeb8815a-81ed-4762-8572-24daa4eb714f" name="update-member-implementationFlow"/>
    </flow>
    <flow name="get:\members:member-system-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  msg: "failed operation",
  code: 400,
  success: false,
  error: {
    "type": "BAD_REQUEST",
    title: "Invalid Request",
    details: "The input contains invalid data"
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="abcde616-60cc-46c8-924e-2abe93d5e0aa" name="get-member-list-implementationFlow"/>
    </flow>
    <flow name="get:\members\(memberId):member-system-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="memberId">attributes.uriParams.'memberId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  firstName: "Naveen",
  lastName: "Raj",
  maritalStatus: "Unmarried",
  title: "Mr",
  gender: "Male",
  occupation: "Engineer",
  preferredName: "Nav",
  identity: {
    password: "testing",
    phoneCountry: "86",
    phoneNumber: "18888888887",
    email: "emailNaveen001@email.com"
  },
  address: {
    country: "India",
    city: "HongKong",
    area: "CentralAndWesternDistrict",
    province: "HongKongIsland",
    placeOfResidence: "12/3 Kamaraj Street"
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="2ea39693-13aa-4334-83aa-c54a6e4c6839" name="get-member-details-implementationFlow"/>
    </flow>
    <flow name="post:\members:application\json:member-system-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  msg: "successful operation",
  code: 200,
  data: {
    memberId: "Mdsah8734873"
  },
  success: true
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="fa73322c-86d4-4fdf-862a-2fdb1f4d95b8" name="post-member-implementationFlow"/>
    </flow>
    <flow name="post:\members\sync:application\json:member-system-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  msg: "successful operation",
  code: 200,
  data: {
    memberId: "Mdsah8734873"
  },
  success: true
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="e9917400-7e98-4900-8136-06f332d225fb" name="post-member-sync-implementationFlow"/>
    </flow>
</mule>
